{namespace neos=TYPO3\Neos\ViewHelpers}
<div>
	<script>
		function initializeMap{identifier}() <![CDATA[{]]>
			var identifier = '{identifier}',
				configuration = JSON.parse($("#ttree-map-configuration").html()),
				mapConfiguration = configuration.maps[identifier];

			var mapOptions = configuration.maps[identifier].options,
				myLatlng = new google.maps.LatLng(mapConfiguration.longitude || 0.00,mapConfiguration.latitude || 0.00)

			mapOptions.center = myLatlng;
			mapOptions.mapTypeControlOptions = {
				mapTypeIds: [google.maps.MapTypeId.ROADMAP, "styles"]
			}

			var map = new google.maps.Map(document.getElementById("map_canvas_" + identifier), mapOptions);

			var styledMapOptions = <![CDATA[{]]>

			};

			var mapType = new google.maps.StyledMapType(configuration.styles.default, styledMapOptions);
			map.mapTypes.set("styles", mapType);
			map.setMapTypeId("styles");

			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map
			});
		}

		google.maps.event.addDomListener(window, 'load', initializeMap{identifier});
	</script>
	<div{attributes -> f:format.raw()}></div>
</div>